@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
* {
  font-family: "Oswald", sans-serif;
}

a{
  text-decoration: none;
  color: white;
}


body {
  position: relative;
  margin: 0;
  padding: 0;
}

.Header {
  background-color: #19181f;
  color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  position: relative;
}

.Header_logo{
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header_logo img{
  width: 50px;
  height: 50px;
  border-radius: 50px;

}

.polimathos_title{
  margin-left: 30px;
}

.Header__Opciones {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  height: 100%;
  list-style: none;
}
.Header__Opciones li {
  margin: 10px;
  height: 100%;
  background-color: #19181f;
  padding: 0px 0px;
  transition: 0.5s padding;
}
.Header__Opciones li .Header__Opciones--active {
  border-bottom: 2px solid #fffffb;
  padding-bottom: 5px;
}
.Header__Opciones li:hover {
  background-color: black;
  padding: 20px 20px;
  transition: 0.5s padding;
  border-radius: 100%;
}
.Header__Opciones li a {
  color: #fffffb;
}

/* ESTILOS ADMINISTRADORES */
.Informacion {
  display: grid;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 70% 30%;
  margin-top: 15px;
}
.Informacion__Frase {
  background-color: #3540A5;
  color: #fffffb;
  font-size: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.Informacion__Texto {
  border-left: 10px double #555;
  padding: 10px;
}

.Cabecera {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 50px 100px 100px 1fr;
  grid-template-rows: 40px 300px 20px;
  border: 2px solid Black;
  background-color: #FFFFFB;
}
.Cabecera__Fotografia {
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2;
}
.Cabecera__Fotografia img {
  width: 265px;
}
.Cabecera__Borde {
  grid-row: 1/4;
  grid-column: 1/3;
  background-color: #FFC145;
}
.Cabecera__Texto {
  grid-row: 2;
  grid-column: 4;
  margin-left: 200px;
  padding: 5px;
  background-color: #FFFFFB;
}
.Cabecera__Texto h2 {
  font-weight: 700;
  color: #000;
  border-bottom: 3px solid #000;
  width: 300px;
  padding-bottom: 5px;
}
.Cabecera__Texto p {
  width: 80%;
  font-size: 18px;
}
.Cabecera__Texto button {
  margin-top: 25px;
}
.Cabecera__Tecnologias--Add {
  cursor: pointer;
}
.Cabecera__Tecnologias img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.Cabecera .Lista {
  background-color: white;
  position: relative;
  z-index: 2;
  border: 1px solid black;
}
.Cabecera .Lista .Otro {
  color: #3540A5;
  font-weight: 700;
  padding: 10px;
  margin-bottom: 5px;
}
.Cabecera .Lista input {
  padding: 10px;
  margin: 9px 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 2px solid black;
}
.Cabecera__Redes {
  text-align: right;
  padding-right: 8px;
}
.Cabecera__Redes img {
  width: 34px;
}
.Cabecera__Follow {
  width: 300px;
  padding: 7px 3px;
  font-weight: 700;
  background-color: #FFC145;
  border: 0;
  box-shadow: 0px 3px 5px black;
  transition: 0.5s background-color;
  transition: 0.3s color;
}
.Cabecera__Followed {
  width: 300px;
  padding: 7px 3px;
  font-weight: 700;
  background-color: #2492E8;
  border: 0;
  color: white;
  box-shadow: 0px 3px 5px black;
  transition: 0.5s background-color;
  transition: 0.5s color;
}

.Titulo_Proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Titulo_Proyectos h2 {
  text-align: center;
}
.Titulo_Proyectos .NuevoProyecto1 {
  background-color: #FFC145;
  padding: 7px 10px;
  color: black;
  border: 0;
  box-shadow: 0px 3px 5px black;
  border-radius: 10px;
  margin: 0px 15px 0px 0px;
}
.Titulo_Proyectos .NuevoProyecto2 {
  background-color: #3540A5;
  padding: 7px 10px;
  color: #FFFFFB;
  border: 0;
  box-shadow: 0px 3px 5px black;
  border-radius: 10px;
  margin: 0px 15px 0px 0px;
}

.Proyecto {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}
.Proyecto__Card {
  text-align: center;
  box-shadow: 0px 1px 8px black;
  position: relative;
}
.Proyecto__Card .Decoracion1 {
  background-color: #FFC145;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.Proyecto__Card .Decoracion2 {
  background-color: #3540A5;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.Proyecto__Card p {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.Proyecto__Card img {
  width: 190px;
  height: 190px;
  margin: 8px 0px 12px 0px;
  border-radius: 100%;
}
.Proyecto__Card h3 {
  border-bottom: 2px solid black;
  padding-bottom: 2px;
  width: 90%;
  margin: 0 auto;
}
.Proyecto__Card button {
  margin: 2px 0px 9px 0px;
  padding: 5px 10px;
  background-color: #3540A5;
  border: 0;
  font-weight: 700;
  box-shadow: 0px 3px 5px black;
  border-radius: 10px;
  color: #fffffb;
}
.Proyecto__Usado {
  margin: 10px 0px;
}
.Proyecto__Usado span {
  margin: 0px 8px;
  background-color: #000;
  color: white;
  padding: 5px 9px;
  border-radius: 10px;
  font-size: 11px;
}
.Proyecto .Vacio {
  display: flex;
  font-size: 50px;
  color: #999;
}
.Proyecto .Vacio img {
  width: 200px;
}

.hide {
  display: none;
}

.IMG_Share {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.FormShare {
  border: 1px solid black;
  margin-top: 20px;
}

.tecnh {
  margin-top: 10px;
  width: 100%;
}

#list-tecnologias {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#list-tecnologias li {
  background-color: black;
  color: white;
  padding: 5px;
  text-align: center;
  margin-left: 5px;
  margin-top: 5px;
  width: 300px;
}

#btn-final {
  text-align: center;
}

.btn-naranja {
  background-color: #ED6723;
  color: white;
}

.Config {
  border-bottom: 10px solid black;
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
  width: 100%;
  display: grid;
  grid-template-rows: 70% 30%;
}
.Config__Usuario {
  grid-column: 1;
  grid-row: 1;
}
.Config__Usuario img {
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}
.Config__Usuario h3 {
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
}
.Config__Usuario p {
  padding: 10px;
}
.Config__Opciones {
  grid-column: 2;
  grid-row: 1;
}
.Config__Opciones details {
  padding: 20px;
}
.Config__Opciones details summary {
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.Config__Opciones details summary.danger {
  background-color: #F66;
}
.Config__Opciones details button {
  border-radius: 10px;
  background-color: #A00;
  color: #fffffb;
  padding: 5px;
}
.Config__Opciones--inputs {
  display: flex;
  flex-direction: column;
}
.Config__Opciones--inputs input {
  padding: 5px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
  margin-bottom: 9px;
}

.Formulario {
  grid-column: 1/3;
  grid-row: 2;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}
.Formulario input {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid black;
}
.Formulario input, .Formulario textarea {
  width: 70%;
  padding: 7px 9px;
}
.Formulario input::-ms-input-placeholder, .Formulario textarea::-ms-input-placeholder {
  text-align: center;
  padding: 5px;
}
.Formulario input::placeholder, .Formulario textarea::placeholder {
  text-align: center;
  padding: 5px;
}
.Formulario__Enviar {
  background-color: #FFC145;
  font-weight: 700;
}

.Error {
  width: 100%;
  height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-items: center;
  align-items: center;
}
.Error__Info {
  width: 50%;
  padding: 15px;
}
.Error__Info h2 {
  font-weight: 700;
  font-size: 42px;
  color: #FF6B6C;
}
.Error__Info p {
  font-size: 33px;
  color: #fffffb;
  background-color: rgba(0, 0, 0, 0.5);
}
.Error__Info button {
  border-radius: 10px;
  background-color: #FF6B6C;
  padding: 15px 25px;
  font-size: 33px;
  color: white;
}
.Error__IMG {
  width: 50%;
}
.Error__IMG img {
  width: 440px;
  height: 440px;
}

.Preguntas {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.Preguntas__Titulo {
  text-align: center;
}
.Preguntas__Titulo h1 {
  border-bottom: 2px solid black;
  padding-bottom: 3px;
  color: #3540A5;
}
.Preguntas__Contenido {
  margin-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Preguntas__Contenido details summary {
  font-size: 18px;
  padding: 3px 0px;
}
.Preguntas__Bloque {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.Preguntas__Creadores {
  width: 100%;
  text-align: center;
  margin-right: 5px;
}
.Preguntas__Creadores h1 {
  color: #FF6B6C;
}

.Footer {
  width: 100%;
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #19181f;
  color: #fffffb;
}
.Footer__Title {
  font-size: 20px;
  margin-left: 30px;
}
.Footer__Opciones {
  margin-right: 30px;
  display: flex;
  justify-content: center;
  list-style: none;
}
.Footer__Opciones li {
  margin: 10px;
}
.Footer__Opciones li a {
  color: white;
}

.Ruta {
  width: 100%;
  background-color: black;
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}
.Ruta a {
  margin: 8px 8px;
  color: white;
}

/* DISCUSIONES */
.Foro {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  column-gap: 40px;
  padding-bottom: 155px;
}
.Foro__Discusiones h4 {
  font-size: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.Foro__Discusiones__Tema {
  width: 90%;
  padding: 10px 8px;
  border-radius: 5px;
  border: 1px solid #777;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Foro__Discusiones__Tema a {
  font-size: 22px;
  color: #3540A5;
  font-weight: bold;
}
.Foro__Discusiones__Tema p {
  font-size: 14px;
  color: #444;
  text-align: right;
}
.Foro__Tema__FirstInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}
.Foro__Tema__FirstInfo h3 {
  font-size: 40px;
  color: black;
}
.Foro__Tema p {
  font-size: 20px;
  color: #444;
  text-align: justify;
}

.Mensajes {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  column-gap: 40px;
  padding-bottom: 155px;
}
.Mensajes__Discusiones {
  background-image: url("https://pbs.twimg.com/media/DN0GrxaX4AIjRQp.jpg");
  padding: 10px;
  height: 100%;
  padding-bottom: 100px;
}
.Mensajes__Discusiones__Mensaje {
  background-color: #FFC145;
  border-radius: 10px;
}
.Mensajes__Discusiones__Mensaje p {
  font-size: 13px;
}
.Mensajes__Discusiones__Mensaje .Usuario__Mensaje {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 2px solid black;
  width: 100%;
}
.Mensajes__Discusiones__Mensaje .Usuario__Mensaje h5 {
  font-size: 20px;
}
.Mensajes__Discusiones__Mensaje .Usuario__Mensaje img {
  margin: 0px 10px;
  width: 40px;
  height: 50px;
  border-radius: 100%;
}
.Mensajes__Vivo {
  background-image: url("https://pbs.twimg.com/media/DN0GrxaX4AIjRQp.jpg");
  padding: 10px;
  height: 100%;
  padding-bottom: 100px;
  position: relative;
}
.Mensajes__Vivo .Mensajes__Discusiones__Mensaje p {
  background-color: #A00;
  color: #FFFFFB;
  font-size: 13px;
  padding: 2px 8px;
  margin-bottom: 7px;
}
.Mensajes__Vivo .SendMessages {
  position: absolute;
  bottom: 10px;
  width: 100%;
}
.Mensajes__Vivo .SendMessages #MensajeEnVivo {
  width: 80%;
  padding: 8px 5px;
}
.Mensajes__Vivo .SendMessages #MensajeEnVivo::-ms-input-placeholder {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 0;
}
.Mensajes__Vivo .SendMessages #MensajeEnVivo::placeholder {
  padding-left: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: 0;
}
.Mensajes__Vivo .SendMessages img {
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.Mensajes__Vivo #EnVivo {
  color: #666;
}